.install
    h1
        margin-bottom: 0.5rem
    .breadcrumb.has-arrow-separator li + li::before
        margin: 0 0.5rem
        display: inline-block

    &__logo
        width: 3rem
        margin-bottom: 1rem

.install-form
    padding-top: 2rem

.install-missing
    margin-top: 1.5em
