APP_NAME=Bookkeeper
APP_ENV=production
APP_DEBUG=false
APP_STATUS=NOT-INSTALLED
APP_KEY=base64:rJ3gPPLSICprXBydbPppknqC52iLTWST+HM+IwZ4TRc=
APP_URL=http://bookkeeper.test
APP_TIMEZONE=Europe/Istanbul
APP_LOCALE=en
DEFAULT_CURRENCY=EUR
DEFAULT_VAT=10

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
