// Initial
$red: #C0392B
$green: #26A65B
$turquoise: #263A8A
$cyan: #263A8A
$blue: #263A8A
$grey-light: #CCCCCC
$grey-lighter: #F7F7F7
$white-ter: #F7F7F7
$grey-darker: #202020
$grey-dark: #303030

$duration-short: 200ms
$duration-short-up: 250ms
$duration-medium: 400ms
$duration-medium-up: 450ms
$duration-short-up: 250ms
$duration-long: 700ms
$duration-long-up: 750ms

$box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2)

// Derived
$link-visited: $blue
$family-sans-serif: 'Montserrat', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default
