// Initial
$red: #C0392B
$green: #26A65B
$turquoise: #263A8A
$cyan: #263A8A
$blue: #263A8A
$grey-light: #F7F7F7
$grey-lighter: #CCCCCC
$white-ter: #F7F7F7
$grey-darker: #202020
$grey-dark: #303030

// Derived
$link-visited: $blue
$family-sans-serif: 'Montserrat', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default
