.contents
    box-shadow: $box-shadow
    border-radius: $radius
    background-color: $white
    font-size: 0.875em
    margin-top: 2em
    margin-bottom: 1em

    &__body, &__footer, &__head
        padding: 1em 1.5em
        @media screen and (max-width: $desktop)
            padding: 1em 0.75em

    &__head
        padding-top: 0
        padding-bottom: 0
        position: relative
        height: 0
        margin-bottom: 0 !important

    &__search
        padding-top: 0.75em
        padding-bottom: 1em
        @media screen and (max-width: $tablet-down)
            padding-top: 1.25em

    &__footer
        background-color: $white-ter
        text-align: center
        &__inverted
            color: $white
            background-color: $primary

    td
        vertical-align: middle

    &__message
        padding: 2.5em 0.75em !important

    &__inner-heading
        font-size: 1.5em
        margin-bottom: 0.75em
        margin-top: 1em
        color: $primary
        font-weight: $weight-bold

.dropdown-content
    padding-top: 0

.dropdown-head
    padding: 0.75em 1em
    color: $white
    background-color: $primary
    font-size: 0.75em
    font-weight: $weight-bold
    margin-bottom: 0.66666667em

.dropdown-item .icon
    display: inline-block
    position: absolute
    right: 0.375em
    top: 50%
    transform: translateY(-0.5em)

.dropdown-trigger button
    background-color: transparent
    border-color: $grey-light
    &:hover
        border-color: $grey-light

.pagination-link,.pagination-previous, .pagination-next
    &.disabled
        opacity: 0.2

.tabs
    &--forms
        margin-bottom: -2em !important
