label
    cursor: pointer

.regular-checkbox
    display: none !important

.regular-checkbox + label
    border: 1px solid darken($primary, 10%)
    box-shadow: $box-shadow
    padding: 8px
    border-radius: 4px
    display: inline-block
    position: relative

.regular-checkbox:checked + label::after
    content: '\2714'
    font-size: 0.875rem
    position: absolute
    top: -4px
    left: 0px
    color: $primary !important

.form
    margin-bottom: -2em
    max-width: 60em
    margin: 0 auto
    padding-top: 2em
    @media screen and (max-width: $tablet)
        padding-top: 1em

    &__buttons
        position: relative
        bottom: -1em
        text-align: right
        height: 1em

.password-meter
    background-color: $grey-lighter
    height: 0.25em
    margin-top: 0.25em
    border-radius: 0.125em
    overflow: hidden

    &__inner
        height: 0.25em
        width: 0%
        transition: all 150ms

        &--veryweak
            background-color: $danger
        &--weak
            background-color: $orange
        &--medium
            background-color: $yellow
        &--strong
            background-color: $success

.form-separator
    text-align: center !important
    font-size: 1.25em
    position: relative
    padding: 1.5em 0
    margin-top: 1.5em

    &::before
        content: ''
        position: absolute
        top: 50%
        left: 0
        width: 100%
        display: block
        height: 2px
        background-color: $grey-lighter
        border-radius: 1px

    &__inner
        position: relative
        z-index: 2
        display: inline-block
        padding: 0 1em
        background-color: $white
        font-weight: $weight-bold
        color: $primary

.subform
    padding-bottom: 2em
